{% extends "dashboard.html" %}
{% block content %}
<div class="container mt-5">
  <h2>Reset Password</h2>
  <p>Enter your new password below.</p>
  
  <form method="POST">
	  {{ form.hidden_tag() }}
	  <div class="mb-3">
		  {{ form.password.label(class='="form-label") }}
		  {{ form.password(class="form-control") }}
	  </div>
	  <div class="mb-3">
		  {{ form.confirm_password.label(class="form-label") }}
		  {{ form.confirm_password(class="form-control") }}
	  </div>
	  {{ form.submit(class="btn btn-success") }}
  </form>
</div>
{% endblock %}

