{% extends "dashboard.html" %}
{% block content %}
<h2>Your Equipment</h2>
{% if equipments %}
<a href="{{ url_for('equipment.usage_analytics') }}" class="btn btn-info" style="margin-bottom: 15px;">View Usage Analytics</a>
<ul>
{% for eq in equipments %}
    <li>
	    {{ eq[1] }} ({{ eq[2] }})
	    {% if eq['image_filename'] %}
                <br><img src="{{ url_for('static', filename='uploads/' ~ eq['image_filename']) }}" width="150">
            {% endif %}
	    <br><br>
	    <!-- eq[0] is id, eq[1] is name, eq[2] is type -->
	    |<a href="{{ url_for('equipment.availability', equipment_id=eq[0]) }}">Manage Availability</a>
	    |<a href="{{ url_for('equipment.request_booking', equipment_id=eq[0]) }}">Book This</a>
	    |<a href="{{ url_for('equipment.maintenance_log', equipment_id=eq[0]) }}">Maintenance Log</a>
    </li>
{% endfor %}
</ul>

{% else %}
    <p>No equipment registered yet.</p>
{% endif %}
{% endblock %}

